@model Trail4Healthtest.Models.Trilho

@{
    ViewData["Title"] = "Create";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Criar trilho</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nometrilho" class="control-label">Nome do trilho</label>
                            <input asp-for="Nometrilho" class="form-control" />
                            <span asp-validation-for="Nometrilho" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Coddesnivel" class="control-label">Inclinação</label>
                            <select asp-for="Coddesnivel" class="form-control" asp-items="ViewBag.Coddesnivel"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Coddificuldade" class="control-label">Dificuldade</label>
                            <select asp-for="Coddificuldade" class="form-control" asp-items="ViewBag.Coddificuldade"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Codepocaaconselhda" class="control-label">Época que acoselhada</label>
                            <select asp-for="Codepocaaconselhda" class="form-control" asp-items="ViewBag.Codepocaaconselhda"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Distanciaapercorrer" class="control-label">Distância a percorrer - Km</label>
                            <input asp-for="Distanciaapercorrer" class="form-control" />
                            <span asp-validation-for="Distanciaapercorrer" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Duracaomedia" class="control-label">Duração Média - Horas</label>
                            <input asp-for="Duracaomedia" class="form-control" />
                            <span asp-validation-for="Duracaomedia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Locinicio" class="control-label">Local de Início</label>
                            <input asp-for="Locinicio" class="form-control" />
                            <span asp-validation-for="Locinicio" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Locfim" class="control-label">Local de fim</label>
                            <input asp-for="Locfim" class="form-control" />
                            <span asp-validation-for="Locfim" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ativo" class="control-label">Trilho Ativo?</label> &nbsp;
                            <label>
                                <input asp-for="Ativo" />
                            </label>
                            |
                            <label asp-for="NewsletterAtiva" class="control-label">Newsletter Ativa?</label> &nbsp;
                            <label>
                                <input asp-for="NewsletterAtiva" />
                            </label>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inserir" class="btn btn-success" /> | <button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                        </div>
                    </form>
                </div>
            </div>
            </section>
        </div>
    </div>

            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
