@model Trail4Healthtest.Models.AgendaTuristaTrilho

@{
    ViewData["Title"] = "Create";
}


<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Comentar trilho</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Trilhoid" class="control-label">Nome do Trilho</label>
                            <select asp-for="Trilhoid" class="form-control" asp-items="ViewBag.Trilhoid"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Turistaid" class="control-label">Nome do Turista</label>
                            <select asp-for="Turistaid" class="form-control" asp-items="ViewBag.Turistaid"></select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Datainicio" class="control-label">Data Inicio</label>
                            <input asp-for="Datainicio" class="form-control" />
                            <span asp-validation-for="Datainicio" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Datafim" class="control-label">Data Fim</label>
                            <input asp-for="Datafim" class="form-control" />
                            <span asp-validation-for="Datafim" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tempogasto" class="control-label">Tempo previsto para realizar o trilho</label>
                            <input asp-for="Tempogasto" class="form-control" />
                            <span asp-validation-for="Tempogasto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inserir" class="btn btn-success" /> | <button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
