@model Trail4Healthtest.Models.Newsletter

@{
    ViewData["Title"] = "Details";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Detalhes do newsletter</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <h2 class="page-title">Detalhes newsletter</h2>
            <div class="row">
                <div class="col-lg-10">
                    <dl class="dl-horizontal">
                        <dt>
                            Data
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.data)
                        </dd>
                        <dt>
                            Descrição
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.descricao)
                        </dd>
                        <dt>
                            Foto
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.foto)
                        </dd>
                    </dl>
                </div>
                <div>
                    <button class="btn btn-info">
                        <a asp-action="Edit" asp-route-id="@Model.newletterId">Editar</a>
                    </button> |
                    <button class="btn btn-default">
                        <a asp-action="Index">Volta à Lista</a>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>

