@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <environment names="Development">

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=latin-ext" rel="stylesheet">

        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
    </environment>
   @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Post">
                </a>

                <div class="collapse navbar-collapse" id="bs-navbar-collapse">
                    <ul class="nav navbar-nav main-navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        @if (this.User.IsInRole("Administrador"))
                        {
                            <li class="dropdown">
                                <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrador<span class="caret"></span></a>
                                @* ADMINISTRADOR *@
                                <ul class="dropdown-menu">
                                    @*<li><a tabindex="-1" href="~/Avaliacaos/Create" title="">Criar tipo de avaliações </a></li>
                                        <li><a tabindex="-1" href="~/Avaliacaos" title="">Consultar avaliações </a></li>
                                        <li><a tabindex="-1" href="~/Desnivels/Create" title="">Criar inclinações </a></li>
                                        <li><a tabindex="-1" href="~/Dificuldades/Create" title="">Criar níveis de dificuldade</a></li>
                                        <li><a tabindex="-1" href="~/EpocaAconcelhadas/Create" title="">Criar tipos de épocas aconselhadas</a></li>
                                        <li><a tabindex="-1" href="~/Estadoes/Create" title="">Criar novo estado para o trilho</a></li>
                                        <li><a tabindex="-1" href="~/Estadoes" title="">Consultar estados para o trilho</a></li>
                                        <li><a tabindex="-1" href="~/EstadoTrilhoes/Create" title="">Alterar estado do Trilho</a></li>
                                        <li><a tabindex="-1" href="~/Etapas/Create" title="">Criar novas etapas</a></li>
                                            <li><a tabindex="-1" href="~/Etapas" title="">Consultar etapas</a></li>
                                        <li><a tabindex="-1" href="~/EtapaTrilhoes/Create" title="">Criar nova etapa dos trilhos</a></li>
                                        <li><a tabindex="-1" href="~/Trilhoes/Create" title="">Criar novo Trilho</a>
                                        </li>
                                    *@
                                    <li><a tabindex="-1" href="~/Newsletters/Create" title="">Criar nova Newsletter</a></li>
                                    <li><a tabindex="-1" href="~/Turistas/" title="">Consultar Turistas</a></li>
                                    <li><a href="~/Comentarios/index" title="">Consultar comentarios</a></li>
                                    <li><a href="~/EstadoTrilhoes" title="">Consultar o estado dos trilhos</a></li>
                                    <li><a href="~/EtapaTrilhoes" title="">Consultar as etapas dos trilhos</a></li>
                                    <li><a href="~/Newsletters" title="">Consultar Newsletters</a></li>
                                    <li><a href="~/Trilhoes" title="">Consultar trilhos</a></li>
                                </ul>
                            </li>
                        }
                      @if (this.User.IsInRole("Turista"))
                        {
                            <li class="dropdown">
                                <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aventureiro<span class="caret"></span></a>
                                @* ADMINISTRADOR *@
                                <ul class="dropdown-menu">
                                    @*<li><a href="~/Desnivels" title="">Consultar Inclinações</a></li>
                                        <li><a href="~/Dificuldades" title="">Consultar níveis de dificuldade dos trilhos</a></li>
                                        <li><a href="~/EpocaAconcelhadas" title="">Consultar épocas aconselhadas para realização dos trilhos</a></li>*@
                                    <li><a href="~/EstadoTrilhoes" title="">Consultar o estado dos trilhos</a></li>
                                    <li><a href="~/EtapaTrilhoes" title="">Consultar as etapas dos trilhos</a></li>
                                    <li><a href="~/Newsletters" title="">Consultar Newsletters</a></li>
                                    <li><a href="~/Trilhoes" title="">Consultar trilhos</a></li>
                                    <li><a href="~/Comentarios/Create" title="">Comentar Experiência</a></li>
                                    <li><a href="~/Comentarios/index" title="">Consultar comentarios</a></li>

                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="#" title="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Agendar novo passeio<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="~/AgendaTuristaTrilhoes/Create" title="">Criar nova marcação para fazer trilho</a></li>
                                    <li><a href="~/AgendaTuristaTrilhoes/" title="">Consultar a agenda</a></li>
                                    @*<li><a href="#" title="">SUB MENU 3</a></li>*@
                                </ul>
                            </li>
                        }
                        <li><a asp-area="" asp-controller="Home" asp-action="About">Sobre</a></li>
                        <li>@await Html.PartialAsync("_LoginPartial")</li>

                    </ul>
                </div><!-- /.navbar-collapse -->
                <!-- END MAIN NAVIGATION -->
            </div>
        </nav>
    </header>
    <main class="site-main page-main" style="position: relative;min-height:75%;">
        @RenderBody()
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 fbox">
                    <h4>Trail4Health</h4>
                    <p class="text">A melhor plataforma para encontrar os trilhos da serra mais alta de portugal continental.</p>
                    <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 fbox">
                    <h4>Serviços</h4>
                    <ul class="big">
                        <li><a href="#" title="">Title One</a></li>
                        <li><a href="#" title="">Title Two</a></li>
                        <li><a href="#" title="">Title Three</a></li>
                        <li><a href="#" title="">Title Four</a></li>
                        <li><a href="#" title="">Title Five</a></li>
                        <li><a href="#" title="">Title Six</a></li>
                        <li><a href="#" title="">Title Seven</a></li>
                        <li><a href="#" title="">Title Eight</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 fbox">
                    <h4>Serviços Administrativos</h4>
                    <ul class="big">
                        <li><a href="#" title="">Title One</a></li>
                        <li><a href="#" title="">Title Two</a></li>
                        <li><a href="#" title="">Title Three</a></li>
                        <li><a href="#" title="">Title Four</a></li>
                        <li><a href="#" title="">Title Five</a></li>
                        <li><a href="#" title="">Title Six</a></li>
                        <li><a href="#" title="">Title Seven</a></li>
                        <li><a href="#" title="">Title Eight</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 fbox">
                    <h4>Contatos</h4>
                    <p class="text">Fale connosco</p>
                    <p><a href="tel:+902222222222"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 271 222 888</a></p>
                    <p><a href="mailto:trilhoserraestrela@ipg.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> trilhoserraestrela@ipg.com</a></p>
                </div>
            </div>
        </div>
        <div id="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="pull-left">&copy; 2017 Train4Health</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        @*<script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>



</html>
