@{
    ViewData["Title"] = "Trail4Health";
}
<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Sobre</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <p>Este Trabalho foi realizado no ambito das Unidadee Curriculares de Programação Para a Internet e Engenharia de Software II</p>
                    <p>Os alunos Involvidos foram:</p>
                    <p>Leonardo Sanchez , Nº 1010833</p>
                    <p>Micael Capelão, Nº1011159</p>
                    <p>Fábio Martins, Nº1012502</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
