@{
    ViewData["Title"] = "Trail4Health";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Este Trabalho foi realizado no ambito das Unidadee Curriculares de Programação Para a Internet e Engenharia de Software II</p>
<p>Os alunos Involvidos foram:</p>
<p>Leonardo Sanchez , Nº 1010833</p>
<p>Micael Capelão, Nº1011159</p>
<p>Fábio Martins, Nº1012502</p>
