@{
    ViewData["Title"] = "Trail4Health";
}
<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Sobre</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <h2>O sua conta está desativa. Contate o <a href="mailto:administrador@ipg.com" target="_top">Administrador</a> para a voltar a ativar.</h2>
                   
                    </div>
                </div>
            </section>
        </div>
    </div>
