@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/img/1.jpg" alt="ASP.NET" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/img/2.jpg" alt="Visual Studio" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/img/3.jpg" alt="Package Management" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/img/4.jpg" alt="Microsoft Azure" class="img-responsive" />
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<section class="boxes_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="box">
                    <h3>Serra da Estrela</h3>
                    <p>Serra da Estrela designa a cadeia montanhosa onde se encontram as maiores altitudes de Portugal Continental, constituindo a segunda montanha mais alta de Portugal (apenas a Montanha do Pico, nos Açores, a supera em 358 metros).</p>
                    <i class="fa fa-bandcamp"></i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h3>Caminhos (Trails)</h3>
                    <p>Na Serra da Estrela há lugares para visitar e te apaixonares. Não é só neve e abertura de noticiários quando as estradas encerram. A Serra guarda nas suas entranhas tesouros magníficos</p>
                    <i class="fa fa-road"></i>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box">
                    <h3>Desportos</h3>
                    <p>Se é adepto de desportos ao ar livre, gosta de sentir o vento a bater-lhe no rosto e os desportos de Inverno o fascinam, rume com um grupo de amigos até à Serra da Estrela e experimente as rotas.</p>
                    <i class="fa fa-snowflake-o"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="services">
    <h2 class="section-title">Descobrir</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-picture-o"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Encantos da Serra</h4>
                        <p>Encantos da Serra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-bandcamp"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Trails pela Serra</h4>
                        <p>Trails pela Serra</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Newsletter</h4>
                        <p>Newsletter</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>