@model Trail4Health.Models.RegTurista
    

@{
    ViewData["Title"] = "Registar Turista";
}
<!--Body-->
<form asp-action="RegTurista" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Registration</h3> <!--Header-->
        </div>
        <div>class="panel-body">
            <div class="form-group">
                <label asp-for="Name"> Name </label>
                <input asp-for="Name" class="form-control" />

            </div>
        </div>





    </div>







</form>