@model Trail4Healthtest.Models.EpocaAconcelhada

@{
    ViewData["Title"] = "Create";
}


<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Criar Epoca Aconselhada</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nomeepoca" class="control-label">Nome da Epoca Aconselhada</label>
                            <input asp-for="Nomeepoca" class="form-control" />
                            <span asp-validation-for="Nomeepoca" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inserir" class="btn btn-success" /> | <button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
