@model IEnumerable<Trail4Healthtest.Models.EpocaAconcelhada>

@{
    ViewData["Title"] = "Index";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Épocas aconselhadas</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
@if (User.IsInRole("Administrador"))
{
                    <button class="btn btn-info">
                        <a asp-action="Create">Criar Época Aconselhada</a>
                    </button>}
                    <br />
                    <br />
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>
                                    Nome da época
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nomeepoca)
                    </td>
                    <td>
                        @if (User.IsInRole("Administrador"))
                        {
                        <button class="btn btn-toolbar">
                            <a asp-action="Edit" asp-route-id="@item.EpocaId">Editar</a>
                        </button> }
                        <button class="btn btn-default">
                            <a asp-action="Details" asp-route-id="@item.EpocaId">Detalhes</a>
                        </button> 
@if (User.IsInRole("Administrador"))
{
                        <button class="btn btn-danger">
                            <a asp-action="Delete" asp-route-id="@item.EpocaId">Apagar</a>
                        </button>}
                    </td>
                </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>