@model Trail4Healthtest.Models.Turista
@model Trail4Healthtest.Models.AccountViewModels.RegisterViewModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Create";
    var user = await UserManager.GetUserAsync(User);
    var userId = user.Email;
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Criar turista</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Contatoemergencia" class="control-label">Contato de Emergência</label>
                            <input asp-for="Contatoemergencia" class="form-control" />
                            <span asp-validation-for="Contatoemergencia" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label">Email</label>
                            <input readonly asp-for="Email" class="form-control" value="@userId" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Nif" class="control-label">NIF</label>
                            <input asp-for="Nif" class="form-control" />
                            <span asp-validation-for="Nif" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="NumeroTelefone" class="control-label">Nº de Telefone</label>
                            <input asp-for="NumeroTelefone" class="form-control" />
                            <span asp-validation-for="NumeroTelefone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Inserir" class="btn btn-success" /> | <button class="btn btn-info"><a asp-action="Index">Voltar à lista</a></button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
