@model Trail4Healthtest.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Registar</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <div class="row">
                <div class="col-lg-12">
                    <form asp-action="Register">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <h4>Criar uma nova conta.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label>Nome</label>
                            <input id="passagemdetexto" value="ooi" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirmar Password</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>NIF</label>
                            <input id="passagemdetextoNIF" value="237993333" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Nº Telemóvel</label>
                            <input id="passagemdetextoTelemovel" value="914881128" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Contato de Emergência</label>
                            <input id="passagemdetextoEmergencia" value="914881128" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-default">Registar</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
