@model Trail4Healthtest.Models.Comentarios

@{
    ViewData["Title"] = "Delete";
}

<div class="bread_area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/">Trail4Health</a></li>
                    <li class="active">Apagar Comentário</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <section class="page col-sm-12">
            <h2 class="page-title">Apagar Comentário</h2>
            <div class="row">
                <div class="col-lg-10">
                    <dl class="dl-horizontal">
                        <dt>
                          Id do trilho
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.trilhoId)
                        </dd>
                        <dt>
                            Duração trilho
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.duracaoTrilho)
                        </dd>
                        <dt>
                           Avaliação
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.avaliacao)
                        </dd>
                        <dt>
                           Turista
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.turista.turistaId)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="comentarioId" />
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <button class="btn btn-default">
                            <a asp-action="Index">Volta à Lista</a>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
